{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head splash" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
      <div class="lozenge" data-role="scroll-to" data-target=".topnav">
        <div class="site-head-content inner">
            <div class="blog-logo"><img src="{{asset '/images/logo-full-3col-dark-0300x0100.png'}}" alt="{{@blog.title}}" /></div>
            {{> splashcontent}}
        </div>
      </div>
    </div>
</header>
<div class="topnav_anchor"></div>
<nav class="topnav">
  <div class="inner">
    <img class="minilogo" src="{{asset '/images/logo-init-3col-0040x0050.png'}}" />
    {{> topnav}}
  </div>
</nav>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>
