{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Each post has the blog logo at the top, with a link back to the home page }}
    <header class="site-head">
        <div class="vertical">
            <div class="site-head-content inner">
                {{#if @blog.logo}}
                    <a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
                {{else}}
                    <h1 class="blog-title">{{@blog.title}}</h1>
                {{/if}}
                <div class="head-info">{{> headInfo}}</div>
            </div>
        </div>
    </header>
<div class="topnav_anchor"></div>
<nav class="topnav">
    <div class="inner">
        <img class="minilogo" src="{{asset 'images/littlePurpleF.png'}}" />
        {{> topnav}}
    </div>
</nav>
<main class="content" role="main">
    <article class="{{post_class}}">
        {{#post}}
            <h1 class="post-title">{{{title}}}</h1>
            <section class="post-content">
                {{content}}
            </section>
        {{/post}}
    </article>
</main>
